<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript"> docsearch({
apiKey: '673bd19cc48d808704dd75c2fad83136',
indexName: 'easydb',
inputSelector: 'header input[type="search"]',
debug: false, // Set debug to true if you want to inspect the dropdown
algoliaOptions: {
    hitsPerPage: 10
}
});

// Workaround to add a link inside the Algolia dropdown.
var algoliaDropdown = CUI.dom.findElement(document.body, "header #algolia-autocomplete-listbox-0");
if (algoliaDropdown) {
    var googleUrl = "https://www.google.com/search?as_sitesearch=docs.easydb.de&q=";
    var searchInput = CUI.dom.findElement(document.body, "header input[type='search']");
	var button = new CUI.Button({
		"class": "search-google-button",
        appearance: "link",
		text: {{ if eq .Site.Language.Lang "de" }} "In Google suchen" {{ else }} "Search in Google" {{ end }},
		onClick: function() {
            var searchQuery = searchInput.value.replace(/ +/g, "+");
            window.open(googleUrl + searchQuery,'_newtab');
		}
	});
    CUI.dom.append(algoliaDropdown, button)
}

</script>
