<a class="logo" href="{{ .Site.LanguagePrefix | relURL }}"><img class="logo" src="{{ "images/easydb_logo.svg" | relURL }}" width="136" height="33"> <span>{{ i18n "documentation" }}</span></a>
<input type="search" placeholder="{{ i18n "search" }}"/>
<div class="language-switcher">
	{{ if eq .Site.Language.Lang "de" }}
	<span>DE</span>
	<a href="/en">EN</a>
	{{ else }}
	<a href="/de">DE</a>
	<span>EN</span>
	{{ end }}
	<a href="#" onclick="app.openGoogleTranslatorCurrentPage()">EN (Google)</a>
</div>

<script>
	var app = (function() {

	    var GOOGLE_URL = "https://translate.google.com/translate?hl=en&sl=de&tl=en&u=";

		function openGoogleTranslatorCurrentPage() {
			window.open(GOOGLE_URL + window.location.href, "_blank");
		}

		return {
            openGoogleTranslatorCurrentPage: openGoogleTranslatorCurrentPage
		}
	})();
</script>

<script type="application/javascript" src="https://app.usercentrics.eu/latest/main.js" id="w2zfYd9QC"></script>
