<!-- <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet"> -->
<!-- <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet"> -->
<!-- <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet" /> -->
<!--
	<link href="https://fonts.googleapis.com/css?family=Cabin+Condensed" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Hammersmith+One" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
-->
<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet" />
<link href="{{ "/css/easydb.css" | relURL }}" rel="stylesheet" type="text/css" />
